.photo {
  background-image: url('assets/adria.png');
  background-position: center 15%;
  background-size: cover;
  border-radius: 9999px; /* para rounded-full */
  width: 4rem; /* para size-16 */
  height: 4rem;
}

.animacion-bg-color{
  background-image: linear-gradient(to right, oklch(83.275% 0.17151 82.058 / 0.500), oklch(25.7% 0.09 281.288));
  background-size: 200%;
  background-position: left;
  animation: animacion-bg-color 3s ease-in-out infinite;
}

@keyframes animacion-bg-color {
  0%{
    background-position: 0%; 
  }

  70%{
    background-position: 100%;
  }
}